<html>
<HEAD>MTK Calculator</HEAD>
<style>
body {
	background-color: rgb(254, 154, 30);   
}
p.sum {
	color: rgb(254,209,0);
}
p.dif {
	color: rgb(0,161,222);
}
p.pro {
    color: rgb(105,190,40);
}
p.quo {
    color: rgb(214,31,133);
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<TITLE>MTK</TITLE>
	<BODY>
	
	<p style=color:rgb(53,54,48);>"I'm Jonathan"</p>
	<p class="sum">sum = {{s}}</p>
	<p class="dif">dif=  {{d}}	</p> 
	<p class="pro">pro=  {{p}}</p>
	<p class="quo">quo=  {{q}}</p>
	</BODY>
</html>